table {
  width: 100%;
};

.container {
  padding: 0px 150px;
}

button {
  background-color: #E18F53;
  color: #fff;
  border: #E18F53;
  width: 91px;
  height: 34px;
  border-radius: 5px;
}

.btn-new {
  background-color: #4486EA;
  color: #fff;
  width: 91px;
  height: 34px;
}

.title {
  font-size: 27px;
  color: #000;
}