<mat-list>
    <mat-list-item class="new">
        <mat-icon aria-hidden="false" aria-label="Example person icon" fontIcon="person" class="icon"></mat-icon>
        Novo Cliente
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <div class="container">
    <p>Nome</p>
    <mat-form-field appearance="fill">
    <input matInput>
    </mat-form-field>

    <p>CNPJ</p>
    <mat-form-field appearance="fill">
    <input matInput>
    </mat-form-field>

    <p>Status</p>
    <mat-form-field appearance="fill">
    <mat-select disableRipple>
      <mat-option value="ativo">
        <img src="../../../assets/img/ativo.svg" alt="ativo">Ativo</mat-option>
      <mat-option value="inativo">
        <img src="../../../assets/img/inativo.svg" alt="inativo">inativo</mat-option>
    </mat-select>
  </mat-form-field>
  <button class="btn-save">SALVAR</button>
</div>



  